.modal-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.395);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-content {
  background: #ffff;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 150px;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
}
.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-overlay.show .modal-content {
  opacity: 1;
  transform: scale(1);
}
.modal-header {
  border-bottom: 2px solid #444444;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.modal-title {
  position: absolute;
  top: 14px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
}
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  cursor: pointer;
  color: rgba(43, 43, 43, 0.822);
  transition: all 0.1s ease-in-out;
}
.close-button:hover {
  transform: scale(1.3);
}
.content {
  padding: 20px;
}
.hr-line {
  border-bottom: 1px solid #444444;
  width: 100%;
  overflow-x: visible;
}
.btn-div {
  position: static;
  border-top: 1px solid #444444;
  padding-top: 8px;
}
