.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-navbar {
  height: 100dvh;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: black;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 16px;
}
.activeBtn {
  color: #444444;
  background-color: #ebebeb;
  border-radius: 4px;
  font-weight: bold;
}
.btn {
  color: #000000;
}
.mobile-navbar {
  display: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100dvw;
  background-color: #00000050;
  z-index: 9999999;
}
.icon-section {
  padding: 6px;
  display: flex;
  align-items: center;
  position: relative;
}
.icon-section label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}
.menu-icon {
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #ffffff;
  font-size: 24px;
}

.visible-icon {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  position: relative;
}

.hidden-icon {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}
.menu-list {
  color: #ffffff;
  font-size: 20px;
}
.activeBtn-mobile {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
}
.menu-dropdown {
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100dvh;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  background-color: #00000091;
}

.menu-dropdown.show {
  height: 100dvh;
  opacity: 1;
  transform: translateY(0);
}

.menu-dropdown.hide {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

@media screen and (max-width: 640px) {
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
}
